<a href="https://colab.research.google.com/github/Sinrez/pyCoursera/blob/master/Module2IntroductionPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Знакомство с pandas

In [1]:
import pandas as pd

In [ ]:
pd.read_csv('http://meit.mgimo.ru/sites/default/files/wage1.csv')

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,...,0,0,0,1,1,0,0,2.708050,196,4
522,2.27,10,2,0,0,1,0,3,0,0,...,0,1,0,0,1,0,0,0.819780,4,0
523,4.67,15,13,18,0,0,1,3,0,0,...,0,0,0,0,1,0,0,1.541159,169,324
524,11.56,16,5,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.447551,25,1
525,3.50,14,5,4,1,1,0,2,0,0,...,0,0,0,1,0,1,0,1.252763,25,16

In [ ]:
df[:5]

,part,movie_name,review_id,author,date,title,grade3,grade10,content
0,top250,Блеф (1976),17144,Come Back,2011-09-24,Плакали наши денежки ©,Good,10.0,"\n""Блеф» — одна из моих самых любимых комедий...."
1,top250,Блеф (1976),17139,Stasiki,2008-03-04,None,Good,0.0,\nАдриано Челентано продолжает радовать нас св...
2,top250,Блеф (1976),17137,Flashman,2007-03-04,None,Good,10.0,"\nНесомненно, это один из великих фильмов 80-х..."
3,top250,Блеф (1976),17135,Sergio Tishin,2009-08-17,""" Черное, красное, ерунда это все. Выигрывает ...",Good,0.0,\nЭта фраза на мой взгляд отражает сюжет несом...
4,top250,Блеф (1976),17151,Фюльгья,2009-08-20,"«Он хотел убежать? Да! Блеф, блеф…»",Neutral,7.0,"\n- как пела Земфира, скорее всего, по соверше..."

Импорт данных из файла

In [ ]:
data = pd.read_csv('http://meit.mgimo.ru/sites/default/files/Labour.csv')
data.head()

     capital  labour     output       wage
0   2.606563     184   9.250759  43.080307
1   1.323237      91   3.664310  27.780016
2  22.093692     426  28.781516  44.467748
3  10.737851      72   4.124642  39.734710
4   1.161365      46   2.890150  34.650709

In [ ]:
data.head(20)

       capital  labour      output       wage
0     2.606563     184    9.250759  43.080307
1     1.323237      91    3.664310  27.780016
2    22.093692     426   28.781516  44.467748
3    10.737851      72    4.124642  39.734710
4     1.161365      46    2.890150  34.650709
5   276.796701    7642  480.140372  48.939782
6     1.678959      48    2.149454  32.458097
7     1.156655     108    4.140011  31.117086
8     0.880010      35    2.460556  35.115379
9     3.487317      72    3.851219  32.525225
10    0.526518      71    3.245624  42.703415
11    0.670047      29    1.718126  38.816153
12    2.954849      77    4.403022  26.273117
13    0.442732      57    2.923615  39.910290
14    1.142525      46    3.836346  38.902568
15    3.624400     188    6.526696  26.348873
16    0.089984       4    0.272679  24.850973
17    7.324654     222    3.473435  43.050238
18    3.614236     180    3.704220  19.716895
19    0.388692      61    2.113014  27.259769

In [ ]:
data.tail()

      capital  labour    output       wage
564  2.625403      20  1.424376  33.477545
565  1.276386      61  2.109048  26.300732
566  1.953869     117  6.241870  41.153979
567  1.318527      46  7.902237  66.720139
568  2.832391     161  6.804085  36.618435

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data.

SyntaxError: invalid syntax (<ipython-input-16-a4aa780eaf33>, line 1)

In [ ]:
?pd.read_csv

#### Количество строк в DataFrame

In [ ]:
len(data)

569

In [ ]:
data.shape

(569, 4)

#### Определить новый столбец

In [ ]:
data['labour**2'] = data['labour'] ** 2
data.head()
data.shape

(569, 5)

### Основные сведения о датафрейме

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   capital    569 non-null    float64
 1   labour     569 non-null    int64
 2   output     569 non-null    float64
 3   wage       569 non-null    float64
 4   labour**2  569 non-null    int64
dtypes: float64(3), int64(2)
memory usage: 22.4 KB

In [ ]:
data.describe()

           capital        labour       output        wage     labour**2
count   569.000000    569.000000   569.000000  569.000000  5.690000e+02
mean     11.515447    201.080844    14.719225   38.632877  4.143143e+05
std      80.518848    611.995915    62.729484   14.443246  5.384550e+06
min       0.002231      1.000000     0.026276   11.733739  1.000000e+00
25%       0.983380     45.000000     2.666305   30.810818  2.025000e+03
50%       2.199280     86.000000     4.602574   35.982820  7.396000e+03
75%       6.214602    176.000000     9.742077   42.903339  3.097600e+04
max    1786.899200  10661.000000  1279.371693  188.425081  1.136569e+08

### Работа внутри таблицы

In [ ]:
data['labour'].head()

0    184
1     91
2    426
3     72
4     46
Name: labour, dtype: int64

In [ ]:
# или так

data.labour.head()

0    184
1     91
2    426
3     72
4     46
Name: labour, dtype: int64

In [ ]:
type(data['labour'])

pandas.core.series.Series

In [ ]:
data.head()

     capital  labour     output       wage  labour**2
0   2.606563     184   9.250759  43.080307      33856
1   1.323237      91   3.664310  27.780016       8281
2  22.093692     426  28.781516  44.467748     181476
3  10.737851      72   4.124642  39.734710       5184
4   1.161365      46   2.890150  34.650709       2116

In [ ]:
# уникальные значения в столбце

len(data['labour'].unique())

269

In [ ]:
len(data['labour'].unique())

269

In [ ]:
data['labour'].nunique()

71

# Фильтры

In [ ]:
data = pd.read_csv('power.csv')
data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'power.csv'

In [ ]:
# выбрать несколько столбцов

country_stats = data.filter(items = ['country', 'quantity'])
country_stats.head()

   country  quantity
0  Austria       5.0
1  Austria      17.0
2  Belgium       0.0
3  Belgium       0.0
4  Belgium      35.0

In [ ]:
data['country']

In [ ]:
# или так

data[['country', 'quantity']].head()

   country  quantity
0  Austria       5.0
1  Austria      17.0
2  Belgium       0.0
3  Belgium       0.0
4  Belgium      35.0

### Отфильтруем строки с потреблением выше среднего

In [ ]:
average_level = data['quantity'].mean()
average_level

184264.77005012965

In [ ]:
'quantity > {}'.format(average_level)

'quantity > 184264.77005012965'

In [ ]:
f'quantity > {average_level}'

'quantity > 184264.77005012965'

In [ ]:
# строки с потреблением больше среднего

average_level = data['quantity'].mean()
country_stats.query('quantity > {}'.format(average_level)).head()

            country  quantity
3228  United States  367987.0
3229  United States  384439.0
3230  United States  370625.0
3231  United States  310909.0
3232  United States  335418.0

In [ ]:
if data.quantity > average_level:

In [ ]:
# самый популярный способ

data[ data.quantity > average_level ].head()

            country  year  quantity  category
3228  United States  2014  367987.0         2
3229  United States  2013  384439.0         2
3230  United States  2012  370625.0         2
3231  United States  2011  310909.0         2
3232  United States  2010  335418.0         2

In [ ]:
import pandas as pd
df = pd.read_json('/Users/ruslanpepa/Desktop/kinopoisk.jsonl', lines=True)
df

,part,movie_name,review_id,author,date,title,grade3,grade10,content
0,top250,Блеф (1976),17144,Come Back,2011-09-24,Плакали наши денежки ©,Good,10.0,"\n""Блеф» — одна из моих самых любимых комедий...."
1,top250,Блеф (1976),17139,Stasiki,2008-03-04,None,Good,0.0,\nАдриано Челентано продолжает радовать нас св...
2,top250,Блеф (1976),17137,Flashman,2007-03-04,None,Good,10.0,"\nНесомненно, это один из великих фильмов 80-х..."
3,top250,Блеф (1976),17135,Sergio Tishin,2009-08-17,""" Черное, красное, ерунда это все. Выигрывает ...",Good,0.0,\nЭта фраза на мой взгляд отражает сюжет несом...
4,top250,Блеф (1976),17151,Фюльгья,2009-08-20,"«Он хотел убежать? Да! Блеф, блеф…»",Neutral,7.0,"\n- как пела Земфира, скорее всего, по соверше..."
...,...,...,...,...,...,...,...,...,...
36586,bottom100,Цветок дьявола (2010),25123,bestiya163,2010-09-23,"Ой, ой, ой!",Bad,2.0,\n Ну с чего бы начать… Давненько я не пи...
36587,bottom100,Цветок дьявола (2010),25192,Молка,2010-10-02,Молчаливый мужик на коне…,Bad,1.0,"\n Можно начать с того, что уже постер к ..."
36588,bottom100,Цветок дьявола (2010),25080,jetry,2010-09-16,Это проявилось сегодня ночью.,Good,7.0,"\n Фильм производства России, поэтому мно..."
36589,bottom100,Цветок дьявола (2010),25088,Alkort,2010-09-16,«Finita la comedia»,Bad,0.0,\n 16 сентября на большие экраны вышел «м...
36590,bottom100,Цветок дьявола (2010),25149,Флоя,2011-02-20,На что потратили аж 5000000?!,Bad,1.0,"\n Эх, как я пыталась настроить себя поло..."

In [ ]:
len(df['movie_name'].unique())

350

In [ ]:
# найдем все фильмы, которые вышли после 2000 года
df[ df['movie_name'].str.contains('\(20', case=False) ]['movie_name'].unique()

array(['Рапунцель Запутанная история (2010)',
       'Как приручить дракона (2010)', 'Корпорация монстров (2001)',
       'Пока не сыграл в ящик (2007)', 'ВАЛЛ·И (2008)',
       'Апокалипсис (2006)', 'Самый быстрый «Индиан» (2005)',
       'В диких условиях (2007)', 'Одиннадцать друзей Оушена (2001)',
       'Шерлок Холмс Игра теней (2011)', 'Жизнь в розовом цвете (2007)',
       'Подмена (2008)', 'Шерлок Холмс (2009)', 'Гран Торино (2008)',
       'Игры разума (2001)', 'В погоне за счастьем (2006)',
       'Заложница (2007)', 'Меня зовут Кхан (2010)', 'Я - Сэм (2001)',
       'Одержимость (2004)', 'Иллюзионист (2006)',
       'История игрушек Большой побег (2010)', 'Билли Эллиот (2000)',
       'Пианист (2002)', 'Игра по чужим правилам (2006)', 'Артист (2011)',
       'Догвилль (2003)', 'Терминал (2004)',
       'Властелин колец Братство кольца (2001)',
       'Счастливое число Слевина (2005)', 'Прислуга (2011)',
       'Пираты Карибского моря Сундук мертвеца (2006)',
       'Белый плен (2006)', 'Сука-любовь (2000)',
       'Малышка на миллион (2004)', 'Изгой (2000)',
       'Поймай меня, если сможешь (2002)',
       'Вечное сияние чистого разума (2004)', 'Ип Ман (2008)',
       'Весна, лето, осень, зима... и снова весна (2003)',
       'Унесённые призраками (2001)', 'Хатико Самый верный друг (2009)',
       'Воин (2011)', 'Дневник памяти (2004)',
       'Пираты Карибского моря Проклятие Черной жемчужины (2003)',
       'Начало (2010)', '1+1 (2011)', 'Гладиатор (2000)',
       'Звездные войны Эпизод 3 - Месть Ситхов (2005)',
       'Эффект бабочки (2004)', 'Хористы (2004)', 'Рэй (2004)',
       'Мальчик в полосатой пижаме (2008)', 'Остров проклятых (2009)',
       'Семь жизней (2008)', 'Планета Ка-Пэкс (2001)',
       'Босиком по мостовой (2005)', 'Город бога (2002)',
       'Трасса 60 (2002)', 'Престиж (2006)', 'Крупная рыба (2003)',
       'Ледниковый период (2002)', 'Жизнь Дэвида Гейла (2003)',
       'Темный рыцарь (2008)', 'Король говорит! (2010)',
       'Заплати другому (2000)', 'Нокдаун (2005)', 'Отступники (2006)',
       'Военный ныряльщик (2000)', 'Хулиганы (2004)',
       'Столкновение (2004)', 'Тренер Картер (2005)',
       'Реальная любовь (2003)', 'Рататуй (2007)', 'Амели (2001)',
       'Девочка, покорившая время (2006)',
       'Властелин колец Две крепости (2002)',
       'Властелин колец Возвращение Короля (2003)',
       'Писатели свободы (2007)', 'Другие (2001)',
       'Невидимая сторона (2009)', 'Шрек (2001)',
       'А в душе я танцую (2004)', 'Кокаин (2001)',
       'Пираты Карибского моря На краю Света (2007)',
       'Большой куш (2000)', 'Жизнь других (2006)',
       'Ходячий замок (2004)', 'Блондинка и блондинка (2008)',
       'Айсберг (2010)', 'Самый лучший фильм (2007)',
       'Щелкунчик и Крысиный король (2009)', 'Форсаж да Винчи (2007)',
       'Обитаемый остров (2008)', 'Артефакт (2009)',
       'Запрещенная реальность (2009)',
       'Знакомство со спартанцами (2008)',
       'Скалолазка и последний из седьмой колыбели (2007)',
       'Самый лучший фильм 2 (2009)', 'Один дома 4 (2002)', 'ЖАRА (2006)',
       'Консервы (2007)', 'Обитаемый остров Схватка (2009)',
       'Братц (2007)',
       'Тупой и еще тупее тупого Когда Гарри встретил Ллойда (2003)',
       'Клуб счастья (2010)', 'Сын маски (2005)',
       'Приключения Шаркбоя и Лавы (2005)', 'Жизнь кувырком (2003)',
       'Ночь живых мертвецов 3D (2006)',
       'Новые приключения Аленушки и Еремы (2009)', 'Трансморферы (2007)',
       'Мертвые дочери (2007)', 'Эйс Вентура младший (2009)',
       'Ржевский против Наполеона (2012)', 'Секс Гуру (2008)',
       'Мужской сезон Бархатная революция (2005)',
       'Очень эпическое кино (2007)', 'Блондинка с амбициями (2007)',
       'Фар Край (2008)', 'Человек с бульвара КапуциноК (2009)',
       'Антидурь (2007)', 'День Д (2008)', 'Стан Хельсинг (2009)',
       'Война динозавров (2007)', 'Миллион лет до нашей эры 2 (2007)',
       'Ну очень страшное кино (2000)', 'Азирис нуна (2006)',
       'Наша Маша и Волшебный орех (2009)', 'Штольня (2006)',
       'Звездный десант 3 Мародер (2008)', 'Антибумер (2004)',
       'ЛОпуХИ Эпизод первый (2009)', 'Темный мир в 3D (2010)',
       'Блондинка в шоколаде (2006)',
       'Я всегда буду знать, что вы сделали прошлым летом (2006)',
       'Фобос. Клуб страха (2010)', 'Дом мертвых (2003)',
       'Бладрейн 2 Освобождение (2007)', 'Один в темноте (2005)',
       'Терминаторы (2009)', 'Постал (2007)',
       'Война миров Вторжение (2008)', 'Волкодав (2006)',
       'Московская жара (2004)', 'Москва 2017 (2012)',
       'Человеческая многоножка (2009)', 'Пираньи 3DD (2012)',
       'Нью-Йоркское такси (2004)', 'Тот ещё Карлосон! (2012)',
       'Джастин Бибер Никогда не говори никогда (2011)',
       'Стритрейсеры (2008)', 'Мантикора (2011)', 'Кукарача 3D (2011)',
       'Ночной базар (2005)', 'Ты и я (2009)', 'Вампирский засос (2010)',
       'Гитлер капут! (2008)', 'Никто не знает про секс 2 No sex (2008)',
       'Slove. Прямо в сердце (2011)', 'Бладрейн (2005)',
       'Красавица и уродина (2008)',
       'Звездный десант 2 Герой федерации (2004)',
       'Самый лучший фильм 3-ДЭ (2011)', 'Код апокалипсиса (2007)',
       'Затаившиеся 3D (2011)', 'Карнавальная ночь 2 (2007)',
       'Дети шпионов 4D (2011)', 'Ведьма (2006)', 'Киносвидание (2006)',
       'Приключения Алёнушки и Ерёмы (2008)',
       'Наша Russia Яйца судьбы (2010)', 'Беременный (2011)',
       'Минотавр (2006)', 'Нереальный блокбастер (2008)',
       'Зеркальные войны Отражение первое (2005)',
       'Большая ржака! (2012)', '2012 Судный день (2008)',
       'Никто не знает про секс (2006)', '18-летняя девственница (2009)',
       'Путевой обходчик (2007)', 'Возвращение мушкетеров (2008)',
       'Суперменеджер, или Мотыга судьбы (2010)', 'Книга мастеров (2009)',
       '5 дней в августе (2011)', 'Цветок дьявола (2010)'], dtype=object)

In [ ]:
# фильтры на номер строки

df.loc[10:15]

,part,movie_name,review_id,author,date,title,grade3,grade10,content
10,top250,Блеф (1976),17146,marina357,2011-01-14,Блеф по-итальянски,Good,9.0,\n«Блеф» — комедия Серджио Корбуччи 1976 года....
11,top250,Блеф (1976),17149,Годяев Дмитрий,2008-11-10,«хук с права!приятно узнать… А это у меня Хук ...,Good,0.0,\nДействие фильма разворачивается примерно в 1...
12,top250,Блеф (1976),17138,max wader,2010-09-06,"Спасибо, Италия!",Good,9.0,"\nКак и почти каждый киношедевр, картина «Блеф..."
13,top250,Блеф (1976),17136,Жёлудь,2008-09-24,"«Не надо судить о музыке, пока не закончился к...",Good,8.0,\n«Мы должны поставить всё против всего!»\n\nИ...
14,top250,Блеф (1976),17133,КД,2009-03-13,Все могут короли!,Good,10.0,"\nВсе могут короли! И короли не только блефа, ..."
15,top250,Блеф (1976),17131,kabanow,2007-03-17,None,Good,0.0,\n«Вор у вора дубинку украл». Этот эпиграф кра...

# Сортировка

In [ ]:
# Сортировка по столбцу

df.sort_values(by='movie_name').tail(30)

,part,movie_name,review_id,author,date,title,grade3,grade10,content
7975,top250,Я - Сэм (2001),24333,movieseeker,2009-10-23,Don`t you think she deserves more?,Bad,0.0,\nФильм не понравился. Ни игрой актеров ни ист...
7976,top250,Я - Сэм (2001),24330,Королева 78,2011-12-30,Нажми на кнопку - получишь результат,Bad,0.0,"\nОх, как любят нажимать на нужные кнопочки де..."
7977,top250,Я - Сэм (2001),24328,Ace-B,2005-10-03,None,Good,0.0,\nФильм замечателен! Затягивает. Поначалу слег...
7987,top250,Я - Сэм (2001),24303,ViaVictoria30,2011-06-22,"Какие правила, кто «ненормальный»?",Good,10.0,"\nДавно хотела посмотреть этот фильм, но не ре..."
7980,top250,Я - Сэм (2001),24227,Macabre,2008-07-01,Lucy in the Sky With Diamonds,Good,10.0,"\nДобрый и трогательный фильм, с отличной игро..."
7981,top250,Я - Сэм (2001),24276,просто Алинчик,2009-04-05,Это отличный выбор.,Good,8.0,\nЯ еще никогда не видела такого доброго и тро...
7982,top250,Я - Сэм (2001),24295,=jet=,2005-12-13,None,Good,0.0,\nУдивительно оригинальное и прекрасное кино. ...
7979,top250,Я - Сэм (2001),24272,lemon_slice,2010-06-07,None,Good,10.0,"\nНаверное, это единственный фильм, пересматри..."
33537,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25316,Xianghua,2010-03-18,Новое — это хорошо испорченное старое.,Bad,3.0,"\n «Я всегда буду знать, что вы сделали п..."
33548,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25308,elefant-clon,2012-01-07,Каждый год 4 июля он выходит на поиски своей ж...,Good,8.0,\n Мне фильм понравился. Вся проблема в т...
33547,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25310,ok5,2006-08-28,None,Bad,1.0,\n Посмотрел сей фильм.\n\n\n\n1 и 2 част...
33546,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25311,Twenty_First,2009-09-03,СПАСИТЕ!!!! ЭТО УЖАС!!!!,Bad,1.0,\n Купив диск-триквел одного из моих люби...
33545,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25309,immaltigor,2007-11-21,Недо-сиквело-римейк,Bad,1.0,\n Страсть голливудских продюсеров к легк...
33544,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25319,hatalikov,2012-07-17,"Я знаю, что видел видео и видеть больше не хочу",Bad,4.0,"\n ""Какой же скучный, посредственный филь..."
33543,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25312,G3rbus-Boss,2010-02-06,"Я всегда буду знать, что вы выпустили летом 20...",Bad,3.0,"\n Самое плохое, как я считаю, это когда ..."
33542,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25318,Tristo,2012-04-25,Лучше бы раздали 20 миллионов бюджета бедным,Bad,1.0,"\n Как часто сам себе задаёшь вопрос, зву..."
33541,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25317,trance20,2012-02-08,Хуже не придумаешь,Bad,1.0,\n Если перечислять наиболее глупые фильм...
33540,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25323,necronomica,2006-11-06,None,Neutral,0.0,\n Этот фильм относится к категории кинол...
33534,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25314,Ms Kinopoisk,2009-06-01,"Лучше режиссёр не знал, что они сделали прошлы...",Bad,1.0,\n Но он узнал и поставил бездарный ремей...
33538,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25324,Drew,2006-11-06,None,Neutral,0.0,"\n Фильм ужасный, полный бред! Согласен с..."
33536,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25321,MyRziLochKa,2008-08-12,"Интересно, о чём думали люди когда ставили это...",Bad,2.0,"\n К сожалению, я смотрела этот фильм. Не..."
33535,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25322,veryseriouscat,2012-10-29,"Я не знаю, что вы курили тем летом, когда писа...",Bad,1.0,\n Первая часть Я знаю что вы сделали про...
33533,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25325,timyrovec,2006-11-05,None,Neutral,0.0,\n С нетерпением ожидал посмотреть продол...
33532,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25315,Stalk-74,2010-09-04,Здоровый сон укрепляет нервную систему,Bad,0.0,\n Квентин Тарантино гордо признается в л...
33531,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25320,Polidevk,2011-04-12,Это ужас!!!,Bad,1.0,\n Жестокий убийца с крюком на протяжении...
33539,bottom100,"Я всегда буду знать, что вы сделали прошлым ле...",25313,Yeaah,2009-07-24,Один из самых ужасных сиквелов…,Bad,1.0,\n Во время просмотра у меня возник один ...
35703,bottom100,Яйцеголовые (1993),25777,Only_him,2012-07-27,None,Good,8.0,\n В который раз мнение большинства посет...
35704,bottom100,Яйцеголовые (1993),25776,EvelynOconnel,2012-07-01,«Сейчас я перейду в фазу сна…»,Good,10.0,"\n Любимый фильм детства. Он прост, однак..."
35705,bottom100,Яйцеголовые (1993),25774,Боб,2006-02-27,None,Good,0.0,"\n Я не буду оригинален, но когда смотриш..."
35706,bottom100,Яйцеголовые (1993),25775,Girl Racer,2009-08-10,None,Good,8.0,"\n Весьма неплохой фильм. Да, признаю, не..."

In [ ]:
# сортировка по убыванию

data.sort_values('quantity', ascending=False).head()

              country  year      quantity  category
492581  United States  2014  6.680329e+09        31
492267  United States  2014  6.680329e+09        31
492047          China  2014  5.462672e+09        31
492345          China  2014  5.462672e+09        31
122392  USSR (former)  1990  3.257000e+09        12

In [ ]:
# сортировка по нескольким столбцам

df.sort_values(by=['movie_name', 'date', 'grade10'], ascending=[True, True, True]).head(50)

,part,movie_name,review_id,author,date,title,grade3,grade10,content
16880,top250,1+1 (2011),3050,FunkyHustla,2012-02-26,None,Good,0.0,\nСтарая поговорка гласит: «Лучшие рассказы — ...
16860,top250,1+1 (2011),3082,Su-35,2012-02-27,Ангел мульти-культи,Neutral,0.0,\nК инвалиду-спинальнику центр занятости напра...
16871,top250,1+1 (2011),3083,Kvertoff,2012-02-29,Самая грустная комедия,Neutral,7.0,\nПосле моего разочарования от фильма «Жигола»...
16875,top250,1+1 (2011),3057,NaZ LemberG,2012-03-03,Друг - это выбранный нами родственник.,Good,9.0,"\n«Неприкасаемые» — новая, французская комедий..."
16877,top250,1+1 (2011),3065,Jessy Miller,2012-03-03,Научиться жить.,Good,10.0,\nУдивительный фильм. Даже после просмотра нев...
16891,top250,1+1 (2011),3051,None,2012-03-07,Душевно..,Good,10.0,"\nСамое сильное кино начала этого года, или ко..."
16879,top250,1+1 (2011),3059,markqwerty,2012-03-09,None,Good,8.0,\nНе особо примечательный по синопсису фильм с...
16883,top250,1+1 (2011),3056,UndeR,2012-03-11,None,Good,0.0,"\nОбстоятельства. Вещи, которые неподвластны и..."
16878,top250,1+1 (2011),3055,Ali_Mensaf,2012-03-11,None,Good,8.0,\nСвежий представитель из направления «вдохнов...
16864,top250,1+1 (2011),3068,gordy,2012-03-12,Судьбоносный экстрим,Good,0.0,\nСостоятельный инвалид подбирает себе удобную...
16881,top250,1+1 (2011),3064,freemen1980,2012-03-17,Живи и радуйся жизни…,Good,0.0,\nОтличная душевная трагикомедия.\n\nСюжет так...
16861,top250,1+1 (2011),3052,Raventus,2012-03-18,"Фильм, после которого на душе хорошо.",Good,0.0,\nДушевно. Когда противоположности встречаются...
16882,top250,1+1 (2011),3054,the dark bronson,2012-03-19,Убойная парочка,Good,8.5,"\nКак правило, история людей, которые прикован..."
16887,top250,1+1 (2011),3072,Anthony_W,2012-03-19,"Разные возможности, но общий дух.",Good,9.0,\nОдин из главных плюсов данного фильма заключ...
16889,top250,1+1 (2011),3077,Аццкий критег,2012-03-20,None,Good,0.0,"\nГлавные герои — как оптимист и пессимист, он..."
16859,top250,1+1 (2011),3053,Jason Statham42,2012-03-22,Intouchables,Good,9.0,"\nОб этом фильме я вообще ничего не знал, но н..."
16873,top250,1+1 (2011),3060,Poor-enot,2012-03-24,Добрая история,Good,0.0,"\n«Друг — это одна душа, живущая в двух телах»..."
16884,top250,1+1 (2011),3058,TheGreatCritic,2012-03-26,"Простой и человечный, трогательный и забавный,...",Good,10.0,\nЯ обратил внимание на эту картину только пот...
16863,top250,1+1 (2011),3079,Mr_Aspio,2012-03-28,Независимо от перемены мест слагаемых,Good,9.0,\nЖизнь в этих серых джунглях настолько моното...
16866,top250,1+1 (2011),3073,ProActor,2012-03-30,«Стремление к жизни»,Good,0.0,\nНа редкость классная трагикомедия получилась...
16865,top250,1+1 (2011),3071,loves_to_dream,2012-03-30,"Фильм, призывающий жить и радоваться жизни.",Good,10.0,\nИменно эта фраза возникла у меня в голове по...
16869,top250,1+1 (2011),3069,Bobby Ray,2012-03-31,Один дополняет второго,Good,0.0,\nДля меня данный фильм стал самой приятной не...
16874,top250,1+1 (2011),3062,rain 13,2012-03-31,Фантомная боль,Good,0.0,"\nУ этого парня большие проблемы\n\nон дерево,..."
16890,top250,1+1 (2011),3063,vmvasusya,2012-03-31,"Те, кто озаряют жизнь других, не останутся сам...",Good,10.0,"\nБывают наступают такие моменты, когда передо..."
16867,top250,1+1 (2011),3074,Horseofhell,2012-04-02,None,Good,9.0,\nФилипп — очень богатый и очень несчастный че...
16888,top250,1+1 (2011),3066,Polidevk,2012-04-02,1+1. Во всём,Good,10.0,"\n«1+1» можно, пожалуй, назвать слоганом данно..."
16886,top250,1+1 (2011),3070,Wolf2332,2012-04-03,Добро,Good,9.0,"\nПо-моему, одна из самых сложных тем, по кото..."
16872,top250,1+1 (2011),3061,любитель_кино,2012-04-06,Второй шанс.,Good,0.0,\nДо выхода этого фильма в Российский прокат о...
16892,top250,1+1 (2011),3078,позитив объективыч,2012-04-07,"Мы никуда не денемся, особенно этот (с).",Good,0.0,"\nНе могу обойти вниманием такой фильм. Фильм,..."
16870,top250,1+1 (2011),3067,Rideamus,2012-04-08,В лучших традициях французского кино.,Good,8.0,"\nФильм, сюжет которого основан на реальном со..."
16868,top250,1+1 (2011),3076,IrinaKalmykova,2012-04-10,Жить - значит действовать!,Good,9.0,\nНесовершенство — вот что нам нравится в наши...
16876,top250,1+1 (2011),3080,gugu911,2012-04-10,1+1,Good,10.0,"\nПоследнее время замечаю, что люди становятся..."
16885,top250,1+1 (2011),3081,reminn,2012-04-11,Богатые тоже плачут,Bad,5.0,\nФильм «1+1» еще не успел отгреметь в мировом...
16862,top250,1+1 (2011),3075,dan2k,2012-04-13,None,Good,9.0,\nСкептически подошёл я к просмотру этого кино...
6678,top250,12 разгневанных мужчин (1957),11462,Nike,2007-05-11,«they have twelve scraps of paper… twelve chan...,Good,10.0,\nДействие фильма разворачивается в суде. \n\n...
6685,top250,12 разгневанных мужчин (1957),11461,Брайан Барнард,2007-08-29,Посвящается Сидни Люмету. Звезде мирового кине...,Good,0.0,\nI. Немеркнущий дебют мистера Люмета:\n\nРовн...
6704,top250,12 разгневанных мужчин (1957),11478,Papagun,2007-09-09,"«О, господи, всегда этот один!»",Good,10.0,\nВ фильме «12 разгневанных мужчин» затронута ...
6673,top250,12 разгневанных мужчин (1957),11530,orange3005,2007-10-31,12 разгневанных мужчин,Neutral,0.0,\nТолько посмотрев нашумевший римейк этого фил...
6655,top250,12 разгневанных мужчин (1957),11532,Philosophe,2007-11-24,«Предубеждения всегда затемняют истину »,Neutral,0.0,"\nСильная психологическая картина. Да, есть и ..."
6691,top250,12 разгневанных мужчин (1957),11465,Farina,2007-12-17,None,Good,10.0,\nСидни Люмет. Классик мирового кино. Но это о...
6672,top250,12 разгневанных мужчин (1957),11495,Anothervovka,2008-02-16,Guilty or not guilty?,Good,10.0,\nПосле просмотра замучился ломать голову над ...
6709,top250,12 разгневанных мужчин (1957),11473,yflz1926,2008-04-19,12 шансов свершить правосудие,Good,10.0,\nОтличный психологический детектив. Без погон...
6683,top250,12 разгневанных мужчин (1957),11463,Macabre,2008-07-09,None,Good,0.0,"\nПосмотрев «12» Михалкова, я была приятно уди..."
6730,top250,12 разгневанных мужчин (1957),11466,Rocky 12,2008-07-10,None,Good,10.0,"\nЭто надо же снять 90-минутный фильм, в котор..."
6689,top250,12 разгневанных мужчин (1957),11498,Piletmad,2008-08-25,Разумное сомнение,Good,10.0,"\n12 присяжных. 12 человек, обязанностью котор..."
6669,top250,12 разгневанных мужчин (1957),11537,tokarevas,2008-11-17,А баба Яга против!,Neutral,0.0,"\nВсе этот фильм хвалят, а мне он не очень-то ..."
6706,top250,12 разгневанных мужчин (1957),11538,svlis,2009-01-01,Пропаганда,Neutral,7.0,"\nФильм «съедобен», он даже «полезен», даже «в..."
6711,top250,12 разгневанных мужчин (1957),11482,CENTROMAN,2009-01-25,None,Good,10.0,\nФильм просто отличный и намного правдивей и ...
6710,top250,12 разгневанных мужчин (1957),11500,oscar75,2009-03-11,None,Good,8.0,\n«Вердикт с латыни означает «истинно сказанно...
6698,top250,12 разгневанных мужчин (1957),11528,Dick Vincent,2009-03-31,None,Bad,0.0,"\nВпервые услышала об этом фильме, после просм..."