<a href="https://colab.research.google.com/github/Sinrez/pyCoursera/blob/master/req.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import lxml

In [ ]:
with open('index.html', 'r', encoding='utf-8') as file:
    soup2 = BeautifulSoup(file, 'lxml')
    print(soup2)

<!DOCTYPE html>
<html lang="en">
<head>
<link href="../style/style.css" rel="stylesheet"/>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Учимся парсить</title>
</head>
<body>
<div class="headers">
<div class="p_headers">vazon</div>
</div>
<div class="pagen">
<a href="index1_page_1.html">1</a>
<a href="index1_page_2.html">2</a>
<a href="index1_page_3.html">3</a>
<a href="index1_page_4.html">4</a>
</div>
<div class="main">
<div class="nav_menu">
<a href="index1_page_1.html"><div id="watch">ЧАСЫ</div></a>
<a href="index2_page_1.html"><div id="mobile">ТЕЛЕФОНЫ</div></a>
<a href="index3_page_1.html"><div id="mouse">МЫШИ</div></a>
<a href="index4_page_1.html"><div id="hdd">HDD</div></a>
<a href="index5_page_1.html"><div id="headphones">НАУШНИКИ</div></a>
</div>
<div class="item_card">
<div class="item">
<div class="img_box">
<a href="watch/1/1_1.html" name="1_1"><img alt="" src="http://parsinger.ru/img/1/1.jpg"/></a>
<a class="name_item" href="watch/1/1_1.html" name="1_1">Jet Kid Start blue Умные детские часы</a>
<div class="description">
<li>Бренд: Jet</li>
<li>Тип: умные часы</li>
<li>Материал корпуса: пластик</li>
<li>Технология экрана: Монохромный</li>
</div>
<div class="container">
<div class="price_box"><p class="price">2310 руб</p></div>
<div class="sale_button"><a href="watch/1/1_1.html"><p>Подробнее</p></a></div>
</div>
</div></div>
<div class="item">
<div class="img_box">
<a href="watch/1/1_2.html" name="1_2"><img alt="" src="http://parsinger.ru/img/1/2.jpg"/></a>
<a class="name_item" href="watch/1/1_2.html" name="1_2">BAND 6 FOREST GREEN FARA-B19 HUAWEI</a>
<div class="description">
<li>Бренд: Huawei</li>
<li>Тип: фитнес браслет</li>
<li>Материал корпуса: полимер</li>
<li>Технология экрана: AMOLED</li>
</div>
<div class="container">
<div class="price_box"><p class="price">5480 руб</p></div>
<div class="sale_button"><a href="watch/1/1_2.html"><p>Подробнее</p></a></div>
</div>
</div></div>
<div class="item">
<div class="img_box">
<a href="watch/1/1_3.html" name="1_3"><img alt="" src="http://parsinger.ru/img/1/3.jpg"/></a>
<a class="name_item" href="watch/1/1_3.html" name="1_3">Умные часы GT 3 MIL-B19S BLACK HUAWEI</a>
<div class="description">
<li>Бренд: Huawei</li>
<li>Тип: умные часы</li>
<li>Материал корпуса: пластик</li>
<li>Технология экрана: Монохромный</li>
</div>
<div class="container">
<div class="price_box"><p class="price">21810 руб</p></div>
<div class="sale_button"><a href="watch/1/1_3.html"><p>Подробнее</p></a></div>
</div>
</div></div>
<div class="item">
<div class="img_box">
<a href="watch/1/1_4.html" name="1_4"><img alt="" src="http://parsinger.ru/img/1/4.jpg"/></a>
<a class="name_item" href="watch/1/1_4.html" name="1_4">Умные часы GT 3 MIL-B19V BROWN HUAWEI</a>
<div class="description">
<li>Бренд: Huawei</li>
<li>Тип: умные часы</li>
<li>Материал корпуса: нержавеющая сталь</li>
<li>Технология экрана: AMOLED</li>
</div>
<div class="container">
<div class="price_box"><p class="price">21810 руб</p></div>
<div class="sale_button"><a href="watch/1/1_4.html"><p>Подробнее</p></a></div>
</div>
</div></div>
<div class="item">
<div class="img_box">
<a href="watch/1/1_5.html" name="1_5"><img alt="" src="http://parsinger.ru/img/1/5.jpg"/></a>
<a class="name_item" href="watch/1/1_5.html" name="1_5">GT RUNNER-B19S BLACK HUAWEI</a>
<div class="description">
<li>Бренд: Huawei</li>
<li>Тип: умные часы</li>
<li>Материал корпуса: пластик</li>
<li>Технология экрана: AMOLED</li>
</div>
<div class="container">
<div class="price_box"><p class="price">27770 руб</p></div>
<div class="sale_button"><a href="watch/1/1_5.html"><p>Подробнее</p></a></div>
</div>
</div></div>
<div class="item">
<div class="img_box">
<a href="watch/1/1_6.html" name="1_6"><img alt="" src="http://parsinger.ru/img/1/6.jpg"/></a>
<a class="name_item" href="watch/1/1_6.html" name="1_6">GT RUNNER-B19A GREY HUAWEI</a>
<div class="description">
<li>Бренд: Huawei</li>
<li>Тип: умные часы</li>
<li>Материал корпуса: пластик</li>
<li>Технология экрана: AMOLED</li>
</div>
<div class="container">
<div class="price_box"><p class="price">27770 руб</p></div>
<div class="sale_button"><a href="watch/1/1_6.html"><p>Подробнее</p></a></div>
</div>
</div></div>
<div class="item">
<div class="img_box">
<a href="watch/1/1_7.html" name="1_7"><img alt="" src="http://parsinger.ru/img/1/7.jpg"/></a>
<a class="name_item" href="watch/1/1_7.html" name="1_7">Умные часы GT 3 MIL-B19 GOLD HUAWEI</a>
<div class="description">
<li>Бренд: Huawei</li>
<li>Тип: умные часы</li>
<li>Материал корпуса: нержавеющая сталь, пластик</li>
<li>Технология экрана: AMOLED</li>
</div>
<div class="container">
<div class="price_box"><p class="price">24230 руб</p></div>
<div class="sale_button"><a href="watch/1/1_7.html"><p>Подробнее</p></a></div>
</div>
</div></div>
<div class="item">
<div class="img_box">
<a href="watch/1/1_8.html" name="1_8"><img alt="" src="http://parsinger.ru/img/1/8.jpg"/></a>
<a class="name_item" href="watch/1/1_8.html" name="1_8">Умные часы WATCH 3 GALILEO-L11 STEEL</a>
<div class="description">
<li>Бренд:  Huawei</li>
<li>Тип: умные часы</li>
<li>Материал корпуса: металл, керамика</li>
<li>Технология экрана:  AMOLED</li>
</div>
<div class="container">
<div class="price_box"><p class="price">32600 руб</p></div>
<div class="sale_button"><a href="watch/1/1_8.html"><p>Подробнее</p></a></div>
</div>
</div></div>
</div>
</div>
<div class="pagen">
<a href="index1_page_1.html">1</a>
<a href="index1_page_2.html">2</a>
<a href="index1_page_3.html">3</a>
<a href="index1_page_4.html">4</a>
</div>
<div class="bottom"></div>
</body>
</html>

In [ ]:
strr = 'Величайший урок жизни в том, что и дураки бывают правы.( Уинстон Черчилль )'
symb = 'в'
print(strr.count(symb) if symb in strr else len(strr))

3

In [4]:
import pandas as pd
import numpy as np

In [5]:
lst = list(map(int, '2  8 10  3  1  8  6  9 11  1'.split()))
df  = pd.DataFrame(lst)
print(df.mean())
print(df.std())

0    5.9
dtype: float64
0    3.842742
dtype: float64

In [ ]:
lst = list(map(int, '7 11  3  5 10 12 11  9  6  1  8 11  1  4  9'.split()))
df  = pd.DataFrame(lst)
print(df.median())
q75, q25 = np.percentile(df, [75 ,25])
print(q75 - q25)

0    8.0
dtype: float64
6.0

In [ ]:
lst_x = list(map(int, '2 10  5  4 7 7 1  4  7  8  6 6  6  7  10'.split()))
lst_y = list(map(int, '3 4  7  11 2 11 11  8  8  1  2 2  8  5  9'.split()))
x = pd.Series(lst_x)
y = pd.Series(lst_y)
print(x.cov(y))

-2.285714285714285

In [13]:
res = 0
def h():
    print("- H")
    print("- 12")
    global res 
    res += 1
    print("H - end")

def f():
    print("- F")
    g(h)
    global res 
    res += 1
    print("F - end")

def g(a):
    print("- G - ",a)
    a()
    global res 
    res += 2
    print("G - end")

print("\nMODULE")
g(f)
print(res)

MODULE
- G -  <function f at 0x7efd196b21f0>
- F
- G -  <function h at 0x7efd196b2700>
- H
- 12
H - end
G - end
F - end
G - end
6

In [ ]:
def s(a, *vs, b=10):
   res = a + b
   for v in vs:
       res += v
   return res

In [17]:
def s(a, *vs, b=10):
   res = a + b
   for v in vs:
       res += v
   return res

print('s(21) = ', s(21)) # 31
print('s(11, 10) = ', s(11, 10)) # 31
print('s(0, 0, 31) = ', s(0, 0, 31)) # 41

# TypeError: s() missing 1 required positional argument: 'a'
# print('s(b=31) = ', s(b=31))

print('s(11, 10, b=10) = ', s(11, 10, b=10)) # 31
print('s(11, b=20) = ', s(11, b=20)) # 31
print('s(5, 5, 5, 5, 1) = ', s(5, 5, 5, 5, 1)) # 31
print('s(11, 10, 10) = ', s(11, 10, 10)) # 41

# SyntaxError
# # positional argument follows keyword argument
# print(s(b=31, 0))

s(21) =  31
s(11, 10) =  31
s(0, 0, 31) =  41
s(11, 10, b=10) =  31
s(11, b=20) =  31
s(5, 5, 5, 5, 1) =  31
s(11, 10, 10) =  41

In [1]:
x, y = 1, 2

def foo():
    global y
    if y == 2:
        x = 2
        y = 1

foo()
print(x)
if y == 1:
    x = 3
print(x)

1
3

In [2]:

class Buffer(object):

    def __init__(self):
        """ конструктор без аргументов"""
        self.buff = list()

    def add(self, *a):
        """ добавить следующую часть последовательности"""
        self.buff.extend(a)

        while len(self.buff) >= 5:
            print(sum(self.buff[:5]))
            del self.buff[:5]

    def get_current_part(self):
        """ вернуть сохраненные в текущий момент элементы последовательности в порядке, в котором они были добавлены"""
        return self.buff

23.80952380952381

In [3]:
class A:
    val = 1

    def foo(self):
        A.val += 2

    def bar(self):
        self.val += 1


a = A()
b = A()

a.bar()
a.foo()

c = A()

print(a.val)
print(b.val)
print(c.val)

2
3
3

In [1]:
class Base:
    def __init__(self):
        self.val = 0

    def add_one(self):
        self.val += 1

    def add_many(self, x):
        for i in range(x):
            self.add_one()

class Derived(Base):
    def add_one(self):
        self.val += 10


a = Derived()
a.add_one()

b = Derived()
b.add_many(3)

print(a.val)
print(b.val)

10
30

In [ ]:

class ExtendedStack(list):
    def sum(self):
        """операция сложения"""
        self.append(self.pop() + self.pop())

    def sub(self):
        """операция вычитания"""
        self.append(self.pop() - self.pop())

    def mul(self):
        """операция умножения"""
        self.append(self.pop() * self.pop())

    def div(self):
        """операция целочисленного деления"""
        self.append(self.pop() // self.pop())

In [1]:
st = "Пётр идет домой"
print(st[12 % 7:59 // 6])
print(st[-10:-6])
print(st[5:8])
print(st[5:9])

идет
идет
иде
идет

In [5]:
data = [['red', 150], ['orange', 200], ['brown', 100], ['green', 170]]
index = ['tomato', 'carrot', 'potatoes', 'cucumber']
columns = ['color', 'weight']
df = pd.DataFrame(data, index, columns)
df

           color  weight
tomato       red     150
carrot    orange     200
potatoes   brown     100
cucumber   green     170

In [6]:
df = pd.DataFrame({'tomato': ['red', 150], 'carrot':['orange', 200], 'potatoes':['brown', 100], 'cucumber':['green', 170]})
df

  tomato  carrot potatoes cucumber
0    red  orange    brown    green
1    150     200      100      170

In [7]:
df = pd.DataFrame({'index': ['tomato', 'carrot', 'potatoes', 'cucumber'], 'color': ['red', 'orange', 'brown', 'green'], 'weight': [150, 200, 100, 170]})
df

      index   color  weight
0    tomato     red     150
1    carrot  orange     200
2  potatoes   brown     100
3  cucumber   green     170

In [8]:
data = [['red', 150], ['orange', 200], ['brown', 100], ['green', 170]]
index = ['tomato', 'carrot', 'potatoes', 'cucumber']
columns = ['color', 'weight']
df = pd.DataFrame(data, index=index, columns=columns)
df

           color  weight
tomato       red     150
carrot    orange     200
potatoes   brown     100
cucumber   green     170

In [9]:
print(not 5 % 3)
print(63 in range(50,100,3))
print(9 == 65 // 7)
print('петя' not in 'Петя очень ..')

False
False
True
True

In [10]:
 print(''.join(chr(a) for a in (2**6+8, 101, int("0x6C", 16), 108, int("1"*3), 30+-8%11)))

Hello!

In [11]:
True and False or False

False

In [12]:
a = 18
if a % 3 ** 4:
  print('match')
else:
  print('not')

match

In [13]:
r = 0
for i in range(-10, -60, -3):
  r += 1
print(r)

17

In [1]:
from bs4 import BeautifulSoup
import requests

url = 'https://parsinger.ru/html/index1_page_1.html'
response = requests.get(url=url)
response.encoding = 'utf-8'
soup = BeautifulSoup(response.text, 'lxml')
div = soup.find('div', 'item')
print(div)

<div class="item">
<div class="img_box">
<a href="watch/1/1_1.html" name="1_1"><img alt="" src="https://parsinger.ru/img/1/1.jpg"/></a>
<a class="name_item" href="watch/1/1_1.html" name="1_1">Jet Kid Start blue Умные детские часы</a>
<div class="description">
<li>Бренд: Jet</li>
<li>Тип: умные часы</li>
<li>Материал корпуса: пластик</li>
<li>Технология экрана: Монохромный</li>
</div>
<div class="container">
<div class="price_box"><p class="price">2310 руб</p></div>
<div class="sale_button"><a href="watch/1/1_1.html"><p>Подробнее</p></a></div>
</div>
</div></div>

In [3]:
from bs4 import BeautifulSoup
import requests

url = 'http://parsinger.ru/html/index1_page_1.html'
response = requests.get(url=url)
response.encoding = 'utf-8'
soup = BeautifulSoup(response.text, 'lxml')
# div = soup.find('div', 'item').find_all('li')
# for txt in div:
#     print(txt.text)
div = [x.text for x in soup.find('div', 'item').find_all('li')]
div

['Бренд: Jet',
 'Тип: умные часы',
 'Материал корпуса: пластик',
 'Технология экрана: Монохромный']