<a href="https://colab.research.google.com/github/Sinrez/pyCoursera/blob/master/work_with_pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd


df = pd.read_csv('/content/orders (1).csv')
df.shape
df.head
df.info

<bound method DataFrame.info of       transactionId  visitorId        date  revenue group
0                 0          0  2021-03-15     1633     B
1                 1          1  2021-03-15      659     B
2                 2       1070  2021-03-15      411     A
3                 3          3  2021-03-15     9688     B
4                 4          4  2021-03-15     2221     B
...             ...        ...         ...      ...   ...
1192           1192       1192  2021-03-14     6478     B
1193           1193       1193  2021-03-14     3185     A
1194           1194       1194  2021-03-14    10514     A
1195           1195       1195  2021-03-14       81     A
1196           1196       1196  2021-03-15   202680     B

[1197 rows x 5 columns]>

In [21]:
df['date'].value_counts()

2021-03-05    48
2021-03-14    47
2021-03-12    47
2021-03-06    46
2021-03-15    46
2021-03-01    45
2021-03-28    45
2021-03-02    44
2021-03-27    44
2021-03-08    43
2021-03-19    43
2021-03-29    42
2021-03-07    42
2021-03-22    41
2021-03-09    41
2021-03-26    41
2021-03-03    40
2021-03-23    40
2021-03-10    39
2021-03-16    38
2021-03-21    37
2021-03-30    35
2021-03-13    35
2021-03-04    33
2021-03-20    32
2021-03-31    32
2021-03-24    31
2021-03-11    26
2021-03-18    26
2021-03-17    24
2021-03-25    24
Name: date, dtype: int64

In [33]:
df = pd.read_csv('/content/fish.csv')
df.shape
df.head
df.info

<bound method DataFrame.info of     Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]>

In [23]:
df.loc[4:20, 'Length1'] = None

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  142 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [25]:
df.isna().sum()

Species     0
Weight      0
Length1    17
Length2     0
Length3     0
Height      0
Width       0
dtype: int64

In [26]:
df.fillna(55.12, inplace=True)

In [27]:
df.isna().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [34]:
df.groupby('Species')[['Weight', 'Height']].mean()

               Weight     Height
Species
Bream      617.828571  15.183211
Parkki     154.818182   8.962427
Perch      382.239286   7.861870
Pike       718.705882   7.713771
Roach      152.050000   6.694795
Smelt       11.178571   2.209371
Whitefish  531.000000  10.027167

In [29]:
df.rename(columns={
    'Length1': 'vertical_length',
    'Length2': 'diagonal_length'
}).columns

Index(['ID', 'Z_CostContact', 'Marital_Status', 'MntFruits', 'MntMeatProducts',
       'MntFishProducts'],
      dtype='object')

In [28]:
import pandas as pd


df = pd.DataFrame({'ID': {0: 5524, 1: 2174, 2: 4141},
                   'Z_CostContact': {0: 3, 1: None, 2: 3},
                   'Marital_Status': {0: 'Single', 1: 'Single', 2: 'Together'},
                   'MntFruits': {0: None, 1: 1, 2: None},
                   'MntMeatProducts': {0: None, 1: 6, 2: 127},
                   'MntFishProducts': {0: 172, 1: 2, 2: 111}})

count_fill = df.isna().sum()
count_fill

ID                 0
Z_CostContact      1
Marital_Status     0
MntFruits          2
MntMeatProducts    1
MntFishProducts    0
dtype: int64

In [31]:
import pandas as pd


df = pd.DataFrame({'ID': {0: 5524, 1: 2174, 2: 4141},
                   'Z_CostContact': {0: 3, 1: 3, 2: 3},
                   'Marital_Status': {0: 'Single', 1: 'Single', 2: 'Together'},
                   'MntFruits': {0: 88, 1: 1, 2: 49},
                   'MntMeatProducts': {0: 546, 1: 6, 2: 127},
                   'MntFishProducts': {0: 172, 1: 2, 2: 111}})

dict_rename = {
    'MntFruits': 'sum_fruits',
    'MntMeatProducts': 'sum_meat',
    'MntFishProducts': 'sum_fish'}


df = df.drop(columns=['ID', 'Z_CostContact'])

df.rename(columns=dict_rename,inplace=True)
df

  Marital_Status  sum_fruits  sum_meat  sum_fish
0         Single          88       546       172
1         Single           1         6         2
2       Together          49       127       111