<a href="https://colab.research.google.com/github/Sinrez/pyCoursera/blob/master/Yummy%F0%9F%8D%ADPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = int(input())
print(x // 2)

-3
-2

In [ ]:
x = 1
y = 1
print((x - y) / 1, end='')

0.0

In [ ]:
x = float(input())
print(x // 2, end='')

9
4.0

In [ ]:
x = float(input())
print(abs(x + x), end='')

-1
2.0

In [ ]:
a = round(1.877, 2)
b = round(3.145, 3)
print(a, b, sep=' ; ', end='')

1.88 ; 3.145

In [ ]:
from math import sqrt
# x1,y1,x2,y2,x3,y3  = int(input()),int(input()),int(input()),int(input()),int(input()),int(input())
# x1 = 1
# y1 = 0
# x2 =10
# y2 = 1
# x3 = 2
# y3 = 5
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())
x3 = int(input())
y3 = int(input())

a = round(sqrt((x1-x2)**2+(y1-y2)**2),3)
b = round(sqrt((x1-x3)**2+(y1-y3)**2),3)
c = round(sqrt((x2-x3)**2+(y2-y3)**2),3)

print(f'a = {a}; b = {b}; c = {c};')

a = 9.055; b = 5.099; c = 8.944;

In [ ]:
z = complex()
print(z)
# результат выполнения программы:
# 0j

x = complex('01')
print(x)
# результат выполнения программы:
# 1 + 0j

y = complex(1.5, 2)
print(y)
# результат выполнения программы:
# 1.5 + 2j

0j
(1+0j)
(1.5+2j)

In [ ]:
z = 1 + 1j
conjugated_z = z.conjugate()
print(conjugated_z)
# результат выполнения программы:
# (1-1j)

(1-1j)

In [ ]:
z = complex(0.5, 1.5)
result = z - 1j
print(result, end='')

(0.5+0.5j)

In [ ]:
a = bool(0.1)
b = bool()
c = bool('')
d = bool('0')
e = bool(0)
f = bool(1)
print(a, b, c, d, e, f, sep='; ', end=';')

True; False; False; True; False; True;

In [ ]:
x = 11
y = 9
z = x & y | 10
z

11

In [ ]:
a = True
b = False
x = 0.1
y = 3
result = not a or x == y or b
print(result, end='')

False

In [ ]:
x = int(input())
if not x % 2 == 1 or 0:
    print('yummy', end='')
else:
    print('python', end='')

3
python

In [ ]:
a = False
x = 1
if x + a == 1:
    if not (not a and x and False):
        print(True, a - x + 2, sep='~', end='^.^')
else:
    print("I'm sure, this is the answer!")

True~1^.^

In [ ]:
x = 1
y = 2
print('odd' if (x + y) % 2 == 1 else 'even', end='')

odd

In [ ]:
string = 'ok, I got it!'
print(string[:2], string[-1], sep='')

ok!

In [ ]:
lol = input()
print(lol[::-1], end='')

kek
kek

In [ ]:
str = "you're my special friend"
print(f'{str[0]}{str[1]}')
print(f'{str.split(" ")[2]} {str.split(" ")[3]}')

yo
special friend

In [ ]:
name_1 = 'Pablo Picasso'
name_2 = 'Chuck Norris'
print(name_1[6:8] + 'Ka' + name_2[:3], end='⚡')

PiKaChu⚡

In [ ]:
import numpy as np
from sklearn.metrics import mean_absolute_error as mae

y = np.array([1,2,3,4,5,-1,-2,-3,-4,-5])
y_pred = np.array([0,2,2,5,3,-1,-1,-4,-6,-5])

def mape(y, y_pred): 
    return np.mean(np.abs((y - y_pred) / y)) * 100

print(mae(y, y_pred))
print(mape(y, y_pred))

0.9
33.166666666666664

In [ ]:
from sklearn import linear_model as lm
# Create linear regression object
lr = lm.LinearRegression()
lr.fit([[0],[1],[2],[3]], [0,1,0,3])
print("Intercept: ", lr.intercept_)
print("Coefficient: ", lr.coef_)

Intercept:  -0.20000000000000018
Coefficient:  [0.8]

In [ ]:
def func_linreg_sympy(*mark):
    n=int(len(mark))
    x,y,x2,y2,sum_x,sum_y,xy,a,b,=0,0,0,0,0,0,0,0,0
    for i in range(0,n,2):
        x+=mark[i]/n*2
        y+=mark[i+1]/n*2
        xy=xy+(mark[i]*mark[i+1])
        x2+=mark[i]**2
        y2+=mark[i+1]**2
        sum_x+=mark[i]
        sum_y+=mark[i+1]
    a=(xy-y*sum_x)/(x2-x*sum_x)
    b=(y*x2-x*xy)/(x2-x*sum_x)
    print('уравение:y =',str(a)+'x +',str(b))
func_linreg_sympy(0,0,1,1,2,0,3,3)

уравение:y = 0.8x + -0.2

In [ ]:
def get_classification_parameters(TN, TP, FN, FP):
    Acc = (TN + TP) / (TN + TP + FN + FP)
    Preс = TP / (TP + FP)
    Rec = TP / (TP + FN)
    print('Accuracy: {0}\nPrecision: {1}\nRecall: {2}'.format(Acc, Preс, Rec))

In [ ]:
def manhet(list1, list2, list3, list4):
    s = 0
    for a, b, c, d in zip(list1, list2, list3, list4):
        s += abs(a - b) + abs(a - c) + abs(a - d)
    return s

a = [1, 1, 0]
b = [0, 2, -1]
c = [2, 3, 1]
d = [1, 0, 4]

print('a:', manhet(a, b, c, d))
print('b:', manhet(b, c, d, a))
print('c:', manhet(c, b, a, d))
print('d:', manhet(d, b, c, a))

a: 12
b: 16
c: 16
d: 20

In [ ]:
strr = "you're my special friend"
strr = strr.replace("'", " a")
print(strr)
print(f'{strr[1]}{""}{strr[2]}')
print(f'{strr.split(" ")[3]} {strr.split(" ")[-1]}')

you are my special friend
ou
special friend

In [ ]:
strr_in = '11100110'
d1 = 2
d2 = 4
str0 = d1 * '0'
str1 = d2 * '1'
ex1 = str0 + str1
ex2 = str1 + str0
print(ex1)
print(ex2)
 
if ex1 in strr_in or ex2 in strr_in:
  print('found!')
else:
  print('nah:(')

001111
111100
nah:(

In [ ]:
def get_classification_parameters(TN, TP, FN, FP):
    Acc = (TN + TP) / (TN + TP + FN + FP)
    Preс = TP / (TP + FP)
    Rec = TP / (TP + FN)
    print('Accuracy: {0}\nPrecision: {1}\nRecall: {2}'.format(Acc, Preс, Rec))

get_classification_parameters(TN=25,FP=10,FN=20,TP=15)

Accuracy: 0.5714285714285714
Precision: 0.6
Recall: 0.42857142857142855

In [ ]:
from sklearn.metrics import roc_auc_score

roc_auc_score([0,1,0,1,0,1], [0.6,0.81,0.5,0.9,0.7,0.75])

1.0

In [ ]:
num = 12345
product = 1
while num != 0:
    last_digit = num % 10
    product = product * last_digit
    num = num // 10
print(product)

120

In [ ]:
num = 123456789
total = 0
while num != 0:
    last_digit = num % 10
    if last_digit > 4:
        total += 1
    num = num // 10
print(total)

5

In [ ]:
st = '5321'
''.join(sorted(st))

'1235'

In [ ]:
for i in range(10):
    print(i, end='*')
    if i > 6:
        break

0*1*2*3*4*5*6*7*

In [ ]:
i = 100
while i > 0:
    if i == 40:
        break
    print(i, end='*')
    i -= 20

100*80*60*

In [ ]:
n = 10
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n, end='*')

9*8*7*6*5*4*3*1*0*

In [ ]:
result = 0
for i in range(10):
    if i % 2 == 0:
        continue
    result += i
print(result)

25

In [ ]:
mult = 1
for i in range(1, 11):
   if i % 2 == 0:
      continue
   if i % 9 == 0:
      break
   mult *= i
print(mult)

105

In [ ]:
for i in range(8):
    for j in range(6):
        print('*', end='')
    print()

******
******
******
******
******
******
******
******

In [ ]:
for i in range(1, 4):
    for j in range(3, 6):
        print(i, j)

1 3
1 4
1 5
2 3
2 4
2 5
3 3
3 4
3 5

In [ ]:
for i in range(1, 4):
    for j in range(3, 5):
        print(i + j, end='')

455667

In [ ]:
counter = 0
for i in range(99, 102):
    temp = i
    while temp > 0:
        counter += 1
        temp //= 10
print(counter)

8

In [ ]:
res = "Programming is fun!"
ans = res[1:5]
ans

'rogr'

In [ ]:
res = "12 is > than 1."
ans = res[-5:-1]
ans

'an 1'

In [ ]:
n = int(input())
for i in range(1, n+1):
    for j in range(1, i + 1):
        print(j, end='')
    for k in range(i-1, 0, -1):
        print(k, end='')
    print()

In [ ]:
s = '01234567891011121314151617'
for i in range(0, len(s), 5):
    print(s[i], end='')

051217

In [ ]:
strr = 'aabbcc'
s1 = set(strr)
s1
len(strr)
len(s1)

3

In [ ]:
s = 'abcdefg'
print(s[::-3])

gda

In [ ]:
s = 'i LEARN Python LAnguaGE'
print(s.swapcase())

I learn pYTHON laNGUAge

In [ ]:
for j in range(1,10):
    print(j, end='')
    if j % 3 == 0:
      print('\n')

123

456

789

In [ ]:
s = 'aabbAAccDDaa'
s = s.lower()
print(s.count('a'))

6

In [ ]:
s = 'www.stepik.org'
print(s.startswith('www'))

True

In [ ]:
s = 'abcdababa'
print(s.replace('ab', '123'))

123cd123123a

In [ ]:
s = '    abbc    '
print(s.isspace())

False

In [ ]:
str = "you're my special friend"
print(f'{str[0]}{str[1]}')
print(f'{str.split(" ")[1]} {str.split(" ")[2]}')

yo
my special

In [ ]:
print("The\n logs\n wo\n't chop themselves", end="!")

The
 logs
 wo
't chop themselves!

In [ ]:
kax = 100
mar = kax // 7
rep = mar % 5 / float(2)

bat = kax / (rep + 1)
bat

33.333333333333336

Google search - 1
На вход программе подается натуральное число nn, затем nn строк, затем еще одна строка — поисковый запрос. Напишите программу, которая выводит все введенные строки, в которых встречается поисковый запрос.

Формат входных данных
На вход программе подаются натуральное число nn — количество строк, затем сами строки в указанном количестве, затем один поисковый запрос.

Формат выходных данных
Программа должна вывести все введенные строки, в которых встречается поисковый запрос.

Примечание. Поиск не должен быть чувствителен к регистру символов.

In [ ]:
n = int(input())
ls = [input() for _ in range(n)]
s4 = input()
for l in ls:
    if s4.lower() in l.lower():
        print(l)

In [ ]:
s = 'BEEGEEK'
chars = list(s)
s = '**'.join(chars)
print(s)

B**E**E**G**E**E**K

In [ ]:
colors = ['Red', 'Blue', 'Green', 'Black', 'White']
del colors[-1]
colors.remove('Green')

print(colors)

['Red', 'Blue', 'Black']

In [ ]:
def print_number(a, b, c):
    d = (a + c) // b
    print(d)

print_number(2, 3, 11)

4

In [ ]:
s = str(987654)
s[:-6:-1]

'45678'

Произведение чисел
Напишите программу для определения, является ли число произведением двух чисел из данного набора, выводящую результат в виде ответа «ДА» или «НЕТ».

Формат входных данных
В первой строке подаётся число n\, (0 < n < 1000)n(0<n<1000) – количество чисел в наборе. В последующих nn строках вводятся целые числа, составляющие набор (могут повторяться). Затем следует целое число, которое является или не является произведением двух каких-то чисел из набора.

Формат выходных данных
Программа должна вывести «ДА» или «НЕТ» в соответствии с условием задачи.

Примечание 1. Само на себя число из набора умножиться не может, другими словами, два множителя должны иметь разные индексы в наборе.

Примечание 2. Для решения задачи используйте вложенные циклы.

In [ ]:
cnt = int(input())
lst = [int(input()) for _ in range(cnt)]
dgt = int(input())

res = 'НЕТ'
for i in range(len(lst)):
    for j in range(i+1, len(lst)):
            if lst[i] * lst[j] == dgt:
                res = 'ДА'
                break
print(res)

Дана строка текста, состоящая из букв русского алфавита "О" и "Р". Буква "О" – соответствует выпадению Орла, а буква "Р" – соответствует выпадению Решки. Напишите программу, которая подсчитывает наибольшее количество подряд выпавших Решек.

In [ ]:
lst = input().split('О')
print(max(map(len, lst)))

In [ ]:
(357-654)+701

404

In [ ]:
numbers = [-6, -8, 0, 1, 3, 8, -7, 12, 17, 24, 25, 3, 5, 1]
res = 0
for num in numbers:
    res += (num % 2 == 1) and (num > 1) 
print(res)

5

In [ ]:
list1 = [[1, 7, 8], [9, 7, 102], [6, 106, 105], [100, 99, 98, 103], [1, 2, 3]]
maximum = -1
maximum  = max([l for ls in list1 for l in ls ])
print(maximum)

106

In [ ]:
list1 = [[1, 7, 8], [9, 7, 102], [102, 106, 105], [100, 99, 98, 103], [1, 2, 3]]

for l in list1:
  l.reverse() 

print(list1)

[[8, 7, 1], [102, 7, 9], [105, 106, 102], [103, 98, 99, 100], [3, 2, 1]]

In [ ]:
list1 = [[1, 7, 8], [9, 7, 102], [102, 106, 105], [100, 99, 98, 103], [1, 2, 3]]
total = sum([l for ls in list1 for l in ls ])
counter = len([l for ls in list1 for l in ls ])
total / counter

53.3125

In [ ]:
my_list = [[12, 221, 3], [41, 5, 633], [71, 8, 99]]

maximum = my_list[0][0]
minimum = my_list[0][0]

for row in my_list:
    if max(row) > maximum:
        maximum = max(row)
    if min(row) < minimum:
        minimum = min(row)

print(maximum + minimum)

636

In [ ]:
digits = [1, -2, -5, 1, 4, 3, -3, 2]


def balance(a):
    def wrapper(f):
        if sum(a) != 0:
            return lambda: 'there is no balance, dude'
        return f
    return wrapper


@balance(digits)
def check():
    return 'cool, we have balance'


print(check(), end='')

there is no balance, dude

In [ ]:
n = 8
matrix = [[0]*n for _ in range(n)]    # создаем квадратную матрицу размером 8×8

for i in range(n):                     # заполняем главную диагональ единицами, а побочную двойками
    matrix[i][i] = 1
    matrix[i][n-i-1] = 2

for r in range(n):                     # выводим матрицу
    for c in range(n):
        print(matrix[r][c], end=' ')
    print()

1 0 0 0 0 0 0 2
0 1 0 0 0 0 2 0
0 0 1 0 0 2 0 0
0 0 0 1 2 0 0 0
0 0 0 2 1 0 0 0
0 0 2 0 0 1 0 0
0 2 0 0 0 0 1 0
2 0 0 0 0 0 0 1

In [ ]:
n = 3
a = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

for i in range(n):
    for j in range(n):
        print(a[n - i - 1][n - j - 1], end=' ')
    print()

9 8 7
6 5 4
3 2 1

In [ ]:
n = 5
a = [[19, 21, 33, 78, 99], 
     [41, 53, 66, 98, 76], 
     [79, 80, 90, 60, 20],
     [33, 11, 45, 67, 90],
     [45, 67, 12, 98, 23]]

maximum = -1
minimum = 100

for i in range(n):
    if a[i][i] > maximum:
        maximum = a[i][i]
    if a[i][n - i - 1] < minimum:
        minimum = a[i][n - i - 1]
print(minimum + maximum)

101

In [ ]:
n , m = int(input()), int(input())

matrix = [[0]*m for _ in range(n)]
for i in range(n):
    for j in range(m):
        matrix[i][j] = input()

for row in matrix:
    print(*row)

In [ ]:
n , m = int(input()), int(input())

matrix = [[0]*m for _ in range(n)]
for i in range(n):
    for j in range(m):
        matrix[i][j] = input()

for row in matrix:
    print(*row)

print()
for j in range(m):
    for i in range(n):
        print(matrix[i][j],end=' ')
    print()

In [ ]:
n = int(input())
matrix = [[int(i) for i in input().split()] for j in range(n)]

for i in range(n):
    cn = 0
    sum_row= sum(matrix[i])/n  
    for j in  range(n):
        if matrix[i][j] > sum_row:
            cn += 1
    print(cn)

2
12
34

IndexError: ignored

In [ ]:
n = int(input())
matrix = [[int(i) for i in input().split()] for j in range(n)]
maxx = []

for i in range(n):
    for j in  range(n):
        if i >= j:
            maxx.append(matrix[i][j])
print(max(maxx))

Максимальный в области 2 🌶️
Напишите программу, которая выводит максимальный элемент в заштрихованной области квадратной матрицы.



Формат входных данных
На вход программе подаётся натуральное число nn — количество строк и столбцов в матрице, затем элементы матрицы (целые числа) построчно через пробел.

Формат выходных данных
Программа должна вывести одно число — максимальный элемент в заштрихованной области квадратной матрицы.

Примечание. Элементы диагоналей также учитываются.

In [ ]:
n = int(input())
matrix = [[int(i) for i in input().split()] for j in range(n)]
maxx = []

for i in range(n):
    for j in  range(n):
        if (i < j and i < n - 1 - j) or (i > j and i > n - 1 - j):
            continue
        else:
            maxx.append(matrix[i][j])
print(max(maxx))

Суммы четвертей
Квадратная матрица разбивается на четыре четверти, ограниченные главной и побочной диагоналями: верхнюю, нижнюю, левую и правую.



Напишите программу, которая вычисляет сумму элементов: верхней четверти; правой четверти; нижней четверти; левой четверти.

Формат входных данных
На вход программе подаётся натуральное число nn — количество строк и столбцов в матрице, затем элементы матрицы (целые числа) построчно через пробел.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.

Примечание. Элементы диагоналей не учитываются.

In [ ]:
n = int(input())
matrix = [[int(i) for i in input().split()] for j in range(n)]

sum1 =0 
sum2 = 0 
sum3 = 0
sum4 = 0

for i in range(n):
    for j in  range(n):
        if (i < j and i < n - 1 - j):
            sum1 += matrix[i][j]
        elif (i < j and i > n - 1 - j):
            sum2 += matrix[i][j]
        elif (i > j and i > n - 1 - j):
            sum3 += matrix[i][j]
        elif (i > j and i < n - 1 - j):
            sum4 += matrix[i][j]

print(f'''
Верхняя четверть: {sum1}
Правая четверть: {sum2}
Нижняя четверть: {sum3}
Левая четверть: {sum4}
''')

In [ ]:
x = 5
y = 7

x = x ^ y 
y = x ^ y 
x = x ^ y 

print(x)
print(y)

7
5

In [ ]:
n, m = int(input()), int(input())

for i in range(n):
    mult = []
    for j in range(m):
        mult.append(str(i * j).ljust(3))
    print(*mult)

In [ ]:
f = 21
e = 10
f = 5 * f + 5
e = f - 10 - e * 5
e

50

In [ ]:
ls = [input() for _ in range(4)]
print('\n'.join(ls[::-1]))

In [ ]:
n, m = map(int, input().split())
for i in range(1, n+1):
    for _ in range(m):
        print(i, end =' ')
    print()

In [2]:
print(input().split())

Магия перестаёт существовать после того, как вы понимаете, как она работает.
['Магия', 'перестаёт', 'существовать', 'после', 'того,', 'как', 'вы', 'понимаете,', 'как', 'она', 'работает.']

In [8]:
sg = ''.join('бвгд, ж, з, й, к, л, м, н, п, р, с, т, ф, х, ц, ч, ш, щ'.split(',')).replace(' ','')
sg

'бвгджзйклмнпрстфхцчшщ'

Напишите программу, которая считывает исходную строку и получает новую путём замены каждого символа следующим за ним, стоящим в таблице ASCII.

In [ ]:
st = input()
res = ''
for s in st:
    res += chr(ord(s)+1)
print(res)

In [4]:
a, b = map(int, input().split(' '))
a
# print(input()[a, b+1])

1 2

1

In [7]:
s = 'мама    мыла   раму '
ls = s.split(' ')
res = []
for l in ls:
  if l == '':
    pass
  else:
    res.append(l)
print(' '.join(res))

мама мыла раму

In [14]:
# s = input()
s = '256.0.0.0'
res_total = 'YES'
ls = s.split('.')
# print(ls)
if s.count('.') != 3:
   res_total = 'NO'
else:
   for l in ls:
    #  print(l.isdigit())
       if not l.isdigit():
           res_total = 'NO'
           break
       elif len(l) < 0 or  len(l) > 3:
           res_total = 'NO'
           break
       elif  int(l) < 0 or int(l) > 255:
           res_total = 'NO'
           break
print(res_total)

NO