<a href="https://colab.research.google.com/github/Sinrez/pyCoursera/blob/master/%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_%D0%B8_%D0%BF%D0%B5%D1%80%D0%B2%D0%BE%D0%B5_%D0%BF%D1%80%D0%B5%D0%B4%D1%81%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%B8%D0%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Привет, Data Science!')

Привет, Data Science!

In [8]:
>>> import scipy, numpy
>>> scipy.version.full_version

'1.7.3'

In [2]:
import pandas as pd
df = pd.read_excel('trips_data_for_ML.xlsx', index_col = 0)
df.head()

,salary,age,family_members,target,city_Екатеринбург,city_Киев,city_Краснодар,city_Минск,city_Москва,city_Новосибирск,...,city_Ярославль,vacation_preference_Архитектура,vacation_preference_Ночные клубы,vacation_preference_Пляжный отдых,vacation_preference_Шоппинг,transport_preference_Автомобиль,transport_preference_Космический корабль,transport_preference_Морской транспорт,transport_preference_Поезд,transport_preference_Самолет
0,196000,25,1,New York,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,152000,60,1,London,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,83000,49,2,Sydney,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,161000,41,0,New York,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,146000,58,1,Sydney,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [3]:
X = df.drop('target', axis = 1)
y = df['target']

In [ ]:
X.head()

   salary  age  ...  transport_preference_Поезд  transport_preference_Самолет
0  196000   25  ...                           0                             0
1  152000   60  ...                           0                             1
2   83000   49  ...                           0                             0
3  161000   41  ...                           0                             0
4  146000   58  ...                           0                             1

[5 rows x 23 columns]

In [4]:
y.head(8)  # в скобках - количество показываемых строк, по умолчанию 5

0    New York
1      London
2      Sydney
3    New York
4      Sydney
5       Tokio
6      London
7    New York
Name: target, dtype: object

In [5]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
type(model)

sklearn.ensemble._forest.RandomForestClassifier

In [6]:
model.fit(X, y)  # обучаем модель

RandomForestClassifier()

In [7]:
# меняйте данные в перемернной example и делайте предсказания

example = {'age': [31],
 'city_Екатеринбург': [0],
 'city_Киев': [0],
 'city_Краснодар': [1],
 'city_Минск': [0],
 'city_Москва': [0],
 'city_Новосибирск': [0],
 'city_Омск': [0],
 'city_Петербург': [0],
 'city_Томск': [0],
 'city_Хабаровск': [0],
 'city_Ярославль': [0],
 'family_members': [0],
 'salary': [130000],
 'transport_preference_Автомобиль': [1],
 'transport_preference_Космический корабль': [0],
 'transport_preference_Морской транспорт': [0],
 'transport_preference_Поезд': [0],
 'transport_preference_Самолет': [0],
 'vacation_preference_Архитектура': [0],
 'vacation_preference_Ночные клубы': [0],
 'vacation_preference_Пляжный отдых': [0],
 'vacation_preference_Шоппинг': [1]}
example_df = pd.DataFrame(example)
model.predict(example_df)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

array(['London'], dtype=object)